---
import Text from '@atoms/Text.astro'
import Icon from '@atoms/Icon.astro'
import Grid from '@layouts/Grid.astro'
import bg from '@content/images/noise.png'
import { Image } from 'astro:assets'

const { text, class: classes, ...props } = Astro.props
---

<Grid data-motion-wrapper>
	<!-- Background Image -->
	<div class='relative col-span-full row-span-full opacity-20 -z-[1]'>
		<Image src={bg} alt={''} class='size-full object-cover' />
	</div>

	<!-- Crosswise -->
	<hr
		class='[grid-area:2/1/4/5] laptop:[grid-area:2/1/4/9] desktop:[grid-area:2/1/4/13] border-(--color-border-lightest)'
	/>
	<!-- Marginal -->
	<div
		class='[grid-area:1/1/7/2] laptop:[grid-area:1/2/5/3] desktop:[grid-area:1/2/5/3] bg-(--color-border-lightest) inline-flex w-0.25 translate-x-3 laptop:translate-x-0'>
	</div>
	<!-- Lengthwise -->
	<div
		class='[grid-area:1/4/7/5] laptop:[grid-area:1/7/5/8] desktop:[grid-area:1/9/5/10] bg-(--color-border-lightest) w-0.25 inline-flex absolute right-3 h-screen laptop:static laptop:h-auto'>
	</div>

	<!-- Main Headline -->
	<div
		class='p-(--gap-9) [grid-area:2/1/4/5] laptop:[grid-area:2/2/4/9] desktop:[grid-area:2/2/4/9]'>
		<h1
			class='flex flex-col tablet:flex-row tablet:flex-nowrap tablet:gap-3'>
			<Text
				content='Coming'
				size='main'
				weight='extra'
				color='caption'
				uppercase
				loosen
				display
				data-motion='heading'
			/>
			<span
				class='-translate-y-3 tablet:translate-y-0 flex flex-nowrap'
				data-motion='heading'>
				<Text
					content='Soon'
					size='main'
					weight='extra'
					color='display'
					uppercase
					loosen
					display
				/>
				{
					[1, 2, 3].map((i) => (
						<Text
							key={i}
							content='.'
							size='main'
							weight='extra'
							color='display'
							uppercase
							loosen
							display
							data-motion='ellipsis'
						/>
					))
				}
			</span>
		</h1>
	</div>

	<!-- Icon & Link -->
	<div
		class='p-(--gap-9) [grid-area:6/1/7/2] laptop:[grid-area:6/2/7/3] flex items-end'
		data-motion='symbol'>
		<a href='/' data-link='hover'>
			<span class='sr-only' set:text='Farmtech website home' />
			<Icon name='symbol' class='h-12 tablet:h-14 shrink-0' />
		</a>
	</div>

	<!-- Link -->
	<div
		class='p-(--gap-9) [grid-area:1/3/2/5] laptop:[grid-area:1/6/2/9] desktop:[grid-area:1/9/2/12] flex items-center justify-end'
		data-motion='link'>
		<a
			href='https://www.linkedin.com/company/farmtechng'
			class='text-(--color-interactive) hover:text-(--color-interactive-hover)'>
			<Text
				content={`Linkedin.com/farmtechNG`}
				weight='medium'
				class='text-inherit'
			/>
		</a>
	</div>

	<!-- Logo -->
	<div
		class='p-(--gap-9) pb-(--gap-6) laptop:pb-(--gap-9) [grid-area:4/1/5/5] laptop:[grid-area:4/4/5/7] desktop:[grid-area:4/6/5/9] place-content-end laptop:place-content-start flex flex-col items-end'
		data-motion='logo'>
		<a href='/' data-link='hover'>
			<span class='sr-only' set:text='Farmtech website home' />
			<Icon
				name='logo'
				class='w-40 laptop:w-48 text-(--color-text-display)'
			/>
		</a>
	</div>

	<!-- Caption -->
	<div
		class='pr-(--gap-9) laptop:p-(--gap-9) [grid-area:5/2/6/5] laptop:[grid-area:4/7/5/13] desktop:[grid-area:4/9/7/12]'
		data-motion='caption'>
		<Text
			tag='p'
			content='Functional farming powered by renewable energy.'
			weight='medium'
			color='caption'
			class='text-right laptop:text-left'
		/>
	</div>
</Grid>
