@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@font-face {
  font-family: 'Berlin';
  src: url('/fonts/display-extra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
    /*  Typescaling (Perfect Fourth */
    --type-scale: 1.4;
    --scale-6: 6.1125rem;
    --scale-5: 5.1125rem;
    --scale-4: 4.1125rem;
    --scale-3: 3.1125rem;
    --scale-2: 2.1125rem;
    --text-base--line-height: 1.414;

    /* Spacing Scale */
    --gap-0: 0.0625rem;
    --gap-1: 0.125rem;
    --gap-2: 0.25rem;
    --gap-3: 0.5rem;
    --gap-4: 0.75rem;
    --gap-5: 0.875rem;
    --gap-6: 1rem;
    --gap-7: 1.25rem;
    --gap-8: 1.5rem;
    --gap-9: 1.875rem;

    /* Breakpoints */
    --breakpoint-*: initial;
    --breakpoint-tablet: 40rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

    /* Fonts */
    --font-display: 'Berlin', 'sans-serif';
    --font-sans: 'Plus Jakarta Sans Variable', 'sans-serif';

    /* Font sizes x line-heights */
    --text-6xl: var(--scale-6);
    --text-5xl: var(--scale-5);
    --text-4xl: var(--scale-4);
    --text-3xl: var(--scale-3);
}

button { text-align: inherit; }
svg { @apply pointer-events-none flex-shrink-0 fill-current; }
[data-motion] { @apply opacity-0; }