@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@font-face {
  font-family: 'Berlin';
  src: url('/fonts/display-extra.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
    /* Fonts */
    --font-display: 'Berlin', 'sans-serif';
    --font-sans: 'Plus Jakarta Sans Variable', 'sans-serif';

    /* Font sizes x line-heights */
    
    --text-8xl: 6.65rem;
}

button { text-align: inherit; }
svg { @apply pointer-events-none flex-shrink-0 fill-current; }