---
import Head from '@layouts/Head.astro'
---
<!doctype html>
<html lang="en" class="scroll-smooth bg-[var(--color-primary)]">
    <Head title={ 'Error page not found' }/>
	<body class="">
		<main class="">
            <slot/>
        </main>
	</body>
</html>