---
const { tag: Tag = 'div', class: classes, ...props } = Astro.props
---

<Tag
	class:list={[
		'grid grid-cols-4 laptop:grid-cols-8 desktop:grid-cols-12 grid-rows-5 laptop:grid-rows-4 h-screen',
		classes,
	]}
	{...props}>
	<div
		class='[grid-area:1/1/7/5] laptop:[grid-area:1/1/5/13] desktop:[grid-area:1/1/5/13] grid grid-cols-subgrid grid-rows-subgrid h-screen'>
		<slot />
	</div>
</Tag>
